<nav class="navbar navbar-expand-lg navbar-light fixed-top p-0" id="navbar">
  <div class="container position-relative py-3">
    <!-- Logo -->
    <a
      class="navbar-brand position-absolute ms-2"
      href="index.php"
      draggable="false"
      style="color: #849571; font-size: 18px"
    >
      FS - 25 ©️
    </a>

    <button
      class="navbar-toggler border-0 ms-auto"
      type="button"
      id="sidebarToggle"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0 text-center">
        <li class="nav-item home">
          <a class="nav-link fw-normal active" href="#home" draggable="false"
            >HOME</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link fw-normal" href="#about" draggable="false"
            >ABOUT</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link fw-normal" href="#education" draggable="false"
            >EDUCATION</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link fw-normal" href="#projects" draggable="false"
            >PROJECTS</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link fw-normal" href="#skills" draggable="false"
            >SKILLS</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link fw-normal" href="#contact" draggable="false"
            >CONTACT</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="sidebar" id="sidebar">
  <div class="sidebar-header">
    <button class="btn-close p-2" id="sidebarClose"></button>
  </div>
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
    <li class="nav-item home">
      <a class="nav-link fw-normal active py-3" href="#home" draggable="false"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link fw-normal py-3" href="#tentang" draggable="false"
        >Tentang</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link fw-normal py-3" href="#menu" draggable="false">Menu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link fw-normal py-3" href="#ulasan" draggable="false"
        >Ulasan</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link fw-normal py-3" href="#pesan" draggable="false"
        >Pesan</a
      >
    </li>
  </ul>
</div>
